<div style="display: flex; flex-direction: column; align-items: center; margin-top: 3rem;">

    <% if (login) { %>
        <a href="/user/logout">Logout</a>
    <% } %>
goto sign-up 
<a href="/user/sign-up"> Sign Up</a>
</div>