<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  "
>
  <h1>Signed Up successfully</h1>
  <h1>User Profile</h1>
  <h3>Name - <%= user.fname %> <%= user.lname %>  </h3>
  <% if (user.email != null || user.email != "") { %>
    <h4>Email - <%= user.email %> </h4>
  <% } %>
  <a href="/user/logout">logout</a>
</div>
